body {
  font-size: 16px;
}

amp-story {
  font-family: 'Roboto', serif;
  font-size: 20px;
  color: #ffffff;
}

amp-story-page {
  background-color: #000;
}

amp-story-grid-layer {
  padding: 5vh 10vw;
}

amp-story-grid-layer h1 {
  font-weight: 700;
  font-size: 2.875rem;
  line-height: .9;
  border-bottom: 4px solid $orange-d;
  padding-bottom: .2em;
  margin-bottom: .5em;
  text-transform: capitalize;
}
p, li {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.2em;
  color: #fff;
}

p + p {
  margin-top: 1rem;
}

q {
  font-weight: 400;
  font-size: 1.1em;
}

amp-story-grid-layer.logo-top-left {
  align-content:start;
  padding: 2vw;
}

amp-story-grid-layer.logo-top-left > *{
  justify-self:start;
}

amp-story-grid-layer.logo-top-right {
  align-content:start;
  padding: 2vw;
  justify-self:end;
}

amp-story-grid-layer.logo-top-right > * {
  justify-self:end;
}

amp-story-grid-layer.logo-bottom {
  align-content:end ;
  justify-content: flex-end;
  padding: 1.5vw;
}

amp-story-grid-layer.logo-bottom > * {
  justify-self:end;
}

amp-story-grid-layer.logo-bottom img {
  max-width: 80%;
}

amp-story-grid-layer.bottom {
  align-items: flex-end;
  align-content:end;
}

amp-story-grid-layer.noedge {
  padding: 0px;
}

amp-story-grid-layer blockquote {
  border-left: 4px solid $accent;
}

amp-story-grid-layer blockquote.yellow {
  border-left: 4px solid $yellow;
}

amp-story-grid-layer blockquote p {
  padding: .7rem;
}

amp-story-grid-layer.center-text {
  align-content: center;
}

.caption-info {
  border-bottom: 4px solid $accent;
  padding: .7em 0;
  list-style: none;
  font-size: 1.1rem;
}

.bottom {
  align-items: flex-end;
  align-content:end;
}

.quote-speech {
  border: none;
  margin: -4rem 0;
}

.quote-speech:before {
  content: open-quote;
  font-size: 4rem;
  color: $yellow;
  display: inline;
}

.quote-speech:after {
  content: close-quote;
  font-size: 4rem;
  display: inline;
  position: relative;
  left: 80vw;
  color: $yellow;
}

// Colours

.bg-yellow { background: $yellow;}
.bg-blue { background: $accent;}
.bg-orange { background: $orange-d;}
.text-yellow { color: $blue;}

.offset-top {
  margin-top: 20vh;
}

.offset-bottom-10 {
  margin-bottom: 10vh;
}

.offset-bottom-15 {
  margin-bottom: 15vh;
}

.offset-bottom-20 {
  margin-bottom: 20vh;
}

.no-padding {
  padding: 0 !important;
}
.question {
  padding: 4vw;
}

blockquote.quote-speech + cite {
  font-size: .9rem;
  padding: 1em 0;
  border-bottom: 2px solid $yellow;
}

blockquote.quote-speech p {
  font-style: italic;
  font-size: 1.3rem;
  margin: -3rem 0 -1em 0;
}

blockquote.quote-line {
  padding: .5rem 0;
  border: 0;
  border-top: 4px solid $yellow !important;
  border-bottom: 4px solid $yellow !important;
}

.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.banner-text {
  text-align: center;
  background-color: #000;
  line-height: 2em;
}

.block {
  margin: 0;
  padding: 0;
}

.block .block-content {
  padding: 5vw;

  ul {
    margin: 0;
    padding: 0 1em;
    list-style: circle;
      }
  li {padding-top: .2em;}
}

// Lists
.special-numbers {
  padding-top: 1rem;
}

.list-disc {
  list-style: disc;
}

.list-square {
  list-style: square;
}

// Vertical alignment
.vertical-bottom {
  align-content:end !important;
}

.vertical-top {
  align-content: start !important;
}

.vertical-middle {
  align-content: center !important;
}

.published {
  text-transform: uppercase;
  font-size: .6em;
  text-align: right;
}

.cta {
  display: flex !important;
  justify-content: center;
  align-content: center;

  .button {
    align-self: center;
    background-color: $accent;
    border-radius: 1em;
    padding: 1em;
    color: $rev;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      background: $orange-d;
      transition: all .5s;
    }
  }
}
